<html>
    <header>
        <nav>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/me">Profile</a>
              </li>
              <li>
                <% if(user){ %>
                    <a href="/logout">Logout</a>
                <%} else {%>
                    <a href="/login">Signin</a>
                <%}%>
              </li>
            </ul>
          </nav>          
    </header>
    <main>

    </main>
</html>
